<section class="container wrapper col-12 col-md-12 col-lg-12">
    <div class="card">
        <% @posts.each do |post| %>
            <div class="row m-2">
                <div class="col">
                   <%= link_to "#{post.title}", post_path(post.id), class: 'h5' %>
                    <p><%= post.body %></p>
                </div>
            </div>
        <% end %>
    </div>
</section>
